{% for result in ai_aggregator_environment_results %}
{% if not (ai_aggregator_runtime_environment_name == 'apisix' and result.item.key == 'AI_GATEWAY_CLIENT_KEY') %}
{{ result.item.key }}={{ result.json.data.data[result.item.value.split('#')[1]] | to_json }}
{% endif %}
{% endfor %}
